@use './variables' as variables;

@mixin black-button {
  color: variables.$color1;
  background-color: variables.$color2;
  border-radius: 5px;
  border: none;
  font-weight: variables.$fontweight1;
  width: 100%;
  @media (max-width: 482px) {
    width:290px;
  }
  @media (max-width: 400px) {
    width: 260px;
  }
}

@mixin input {
  width: 359px;
  height: 50px;
  border: 2px solid variables.$color2;
  border-radius: 5px;
  max-width: 350px;
  @media (max-width: 482px) {
    width:282px;
  }
  @media (max-width: 400px) {
    width: 252px;
  }
}
