//colors
$color1: white;
$color2: black;
$color3: #ff0000;
$color4: green;

//fonts
$main-font: 'Roboto', sans-serif;
$fontweight1: 700;
$fontweight2: 500;
$fontweight3: 400;

//Angles
$angle-cards: 10px;
$angle-input: 5px;